/*Isso vai pra todos do site*/
* {
  margin: 0%;
  padding: 0%;
}

/*Cabeçalho da página*/

body {
  background-color: #FFEBD2;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #273248;
  overflow: visible;
}

.texto {
  font-family: 'Raleway', sans-serif;
  color: #FC7643;
}

#nometopnav {
  font-size: 2vw;
  padding: 5% 50px;
  font-weight: bolder;
}

/*Estilização geral dos botões*/
.topnav {
  display: flex;
  background-color: #273248;
  overflow: visible;
  font-family: 'Raleway', sans-serif;
}

/*Espaçamento entre blocos, texto*/
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
}

/*Estilização de quando passa o mouse*/
.topnav a:hover {
  background-color: #a1a1a1;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  border-color: #ffffff;
}

/*Agora é o main da página*/
main {
  height: 848px;
}

/*Imagem no canto direito do home*/
body #divimagem {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

#pedro {
  border-radius: 40px;
  width: 29%;
  position: absolute;
  top: 14%;
}

/*Textos das páginas*/

#divisão {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  width: 42vw;
}


#ola {
  font-size: 2.2vw;
  font-weight: lighter;
  margin-top: 7%;
  margin-bottom: 1.5%;
}

#nometodo {
  font-size: 2.8vw;
  font-weight: bold;
  margin-bottom: 10%;
}

/*Div da explicação do site*/
#explicação {
  width: 700px;
  margin-bottom: 10%;
}

#explicação p {
  font-size: 1.5vw;
}

/*div do minhas experiências*/
#experiências {
  width: 700px;
}

/*Mudando tamanho do Minhas experiencias!*/
#experiências h2 {
  font-size: 2.5vw;
  margin-bottom: 2%;
}

#experiências li {
  font-size: 1.2vw;
}

/*Rodapé da página*/


footer {
  height: 6.2vh;
  background-color: #273248;
  display: flex;
}

#divfooter {
  height: 100%;
  width: 53vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#created {
  font-size: 1.5vw;
  margin-left: 3%;
  font-weight: bolder;
}

#since {
  font-size: 1.5vw;
  font-weight: bolder;
}

/*Ainda no footer vou trabalhar nos logos das redes*/

#redes {
  height: 5.9vh;
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 2.8vw;
  margin-left: 1vw;
  margin-right: 4vw;
}